/* done_button */

.done_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.done_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/done_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.done_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.done_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 36px;
    line-height: 36px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.done_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/done_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    
    cursor: pointer;
}

.done_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.done_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.done_button.sc-button-view.sc-regular-size.square.def,
.done_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.done_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.done_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.done_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.done_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.done_button.sc-button-view.sc-regular-size.square.def.active,
.done_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.done_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.done_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.done_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.done_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}


/* login button */

.login.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.login.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/login.png');
    border-radius: 0px;
    cursor: pointer;
}

.login.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.login.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 36px;
    line-height: 36px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.login.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/login.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    
    cursor: pointer;
}

.login.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.login.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.login.sc-button-view.sc-regular-size.square.def,
.login.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.login.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.login.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.login.sc-button-view.sc-regular-size.square.def .sc-button-label,
.login.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.login.sc-button-view.sc-regular-size.square.def.active,
.login.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.login.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.login.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.login.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.login.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}


/* sign up button */

.signup.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.signup.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/signup.png');
    border-radius: 0px;
    cursor: pointer;
}

.signup.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.signup.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 21px;
    line-height: 21px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.signup.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/signup.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    
    cursor: pointer;
}

.signup.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def,
.signup.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.signup.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def .sc-button-label,
.signup.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def.active,
.signup.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.signup.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.signup.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}

/* cancel button */

.cancel_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.cancel_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/cancel_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.cancel_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.cancel_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 41px;
    line-height: 41px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.cancel_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/cancel_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    
    cursor: pointer;
}

.cancel_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.cancel_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.cancel_button.sc-button-view.sc-regular-size.square.def,
.cancel_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.cancel_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.cancel_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.cancel_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.cancel_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.cancel_button.sc-button-view.sc-regular-size.square.def.active,
.cancel_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.cancel_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.canccancel_buttonel.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.cancel_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.cancel_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}

/* next button */

.next_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.next_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/next_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.next_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.next_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 41px;
    line-height: 41px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.next_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/next_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    
    cursor: pointer;
}

.next_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.next_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.next_button.sc-button-view.sc-regular-size.square.def,
.next_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.next_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.next_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.next_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.next_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.next_button.sc-button-view.sc-regular-size.square.def.active,
.next_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.next_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.next_button.sc-button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.next_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.next_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}


/* social button */

.social_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.social_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/social_info_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.social_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.social_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 41px;
    line-height: 41px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.social_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/social_info_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    
    cursor: pointer;
}

.social_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.social_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.social_button.sc-button-view.sc-regular-size.square.def,
.social_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.social_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.social_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.social_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.social_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.social_button.sc-button-view.sc-regular-size.square.def.active,
.social_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.social_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.social_button.sc-button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.social_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.social_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}


/* views button */

.views_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.views_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/views_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.views_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.views_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 41px;
    line-height: 41px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.views_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/views_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    
    cursor: pointer;
}

.views_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.views_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.views_button.sc-button-view.sc-regular-size.square.def,
.views_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.views_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.views_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.views_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.views_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.views_button.sc-button-view.sc-regular-size.square.def.active,
.views_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.views_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.views_button.sc-button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.views_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.views_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}


/* settings button */

.settings_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.settings_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/settings_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.settings_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.settings_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 41px;
    line-height: 41px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.settings_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/settings_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    
    cursor: pointer;
}

.settings_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.settings_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.settings_button.sc-button-view.sc-regular-size.square.def,
.settings_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.settings_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.settings_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.settings_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.settings_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.settings_button.sc-button-view.sc-regular-size.square.def.active,
.settings_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.settings_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.settings_button.sc-button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.settings_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.settings_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}


/* stream button */

.stream_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.stream_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/stream_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.stream_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.stream_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 41px;
    line-height: 41px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.stream_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/stream_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.stream_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.stream_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.stream_button.sc-button-view.sc-regular-size.square.def,
.stream_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.stream_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.stream_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.stream_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.stream_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.stream_button.sc-button-view.sc-regular-size.square.def.active,
.stream_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.stream_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.stream_button.sc-button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.stream_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.stream_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}

/* grouped button */

.grouped_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.grouped_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/grouped_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.grouped_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.grouped_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 41px;
    line-height: 41px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.grouped_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/grouped_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.grouped_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.grouped_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.grouped_button.sc-button-view.sc-regular-size.square.def,
.grouped_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.grouped_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.grouped_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.grouped_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.grouped_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.grouped_button.sc-button-view.sc-regular-size.square.def.active,
.grouped_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.grouped_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.grouped_button.sc-button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.grouped_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.grouped_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}


/* horizontal button */

.horizontal_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.horizontal_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/horizontal_button.png');
    border-radius: 0px;
    cursor: pointer;
}

.horizontal_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.horizontal_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 41px;
    line-height: 41px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.horizontal_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/horizontal_button.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.horizontal_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.horizontal_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.horizontal_button.sc-button-view.sc-regular-size.square.def,
.horizontal_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.horizontal_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.horizontal_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.horizontal_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.horizontal_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.horizontal_button.sc-button-view.sc-regular-size.square.def.active,
.horizontal_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.horizontal_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.horizontal_button.sc-button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.horizontal_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.horizontal_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}
