.sc-list-item-view .sc-checkbox-view {
  position: absolute;
  display: block;
  border: 0px #888 none;
  width: 12px;
  height: 12px;
  left: 215px;
  top: 50%;
  margin-top: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
}

.sc-list-item-view label {
  top: 50%;
  height: 32px;
  width: 150px;
  display: block;
  position: absolute;
  margin-top: -12px;
  line-height: 31px;
  left: 27;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.sc-list-item-view.sel .sc-checkbox-view {
  border: 0px #333 none;
}

.sc-list-item-view img.icon {
  margin-top: -16px;
  position: absolute;
  top: 50%;
  left: 5px;
}

.sc-list-item-view.has-checkbox img.icon {
  left: 7px;
}

.sc-list-item-view.has-checkbox.has-icon label {
  text-align:center;
  left: 58px;
  border-radius: 6px;
  background: -moz-linear-gradient(top,  rgba(179,177,177,0.15) 0%, rgba(0,0,0,0.27) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,177,177,0.15)), color-stop(100%,rgba(0,0,0,0.27))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(179,177,177,0.15) 0%,rgba(0,0,0,0.27) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(179,177,177,0.15) 0%,rgba(0,0,0,0.27) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(179,177,177,0.15) 0%,rgba(0,0,0,0.27) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(179,177,177,0.15) 0%,rgba(0,0,0,0.27) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b3b1b1', endColorstr='#ab000000',GradientType=0 ); /* IE6-9 */
  border: 1px solid #828282 !important; 
}

.sc-list-item-view.sel {
  background-color: transparent;
  color: #636161;
  border-top: 1px solid silver;
  border-bottom: 1px solid gray;
  font-family: "Helvetica Neue";
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.sc-list-item-view.sc-regular-size {
  color: #636161;
	font-weight: normal;
  font-size: 14px;
	border-top: 1px solid silver;
  border-bottom: 1px solid gray;
	max-width: 250px;
	padding-left: 10px;
	font-family: "Helvetica Neue"; 
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	/*font:18px 'JosefinSansStd-Light';*/
}


/* SC.CheckboxView - sc-theme */

.sc-checkbox-view {
	line-height: 19px;
	vertical-align: middle;
}

.sc-checkbox-view .label {
	position: absolute ;
	left: 20px;
	top: 0;
	right: 0;
	bottom: 0;
	line-height: 19px;
}
 
.sc-checkbox-view.icon img.icon {
	position: relative;
	vertical-align: middle;
	top: -2px;
	margin-left: 2px;
	margin-right: 4px;
	width: 17px;
	height: 19px;
}

.sc-checkbox-view.disabled {
	color: #666;
	color: rgba(0,0,0,0.5);
}

/* @group Checkbox Image */


.sc-checkbox-view span.button {
	background: no-repeat sc_static('/images/checkbox_false.png');
	width: 31px;
  height: 27px;
  position: absolute;
  line-height: 24px;
  left: 0px;
  top: -7px;
}


.sc-checkbox-view.sel span.button {
	background: no-repeat sc_static('/images/checkbox_true.png');
	/*background-color: blue;*/
}

/* @end */

