.signup.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.signup.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/signup.png');
    border-radius: 0px;
    cursor: pointer;
}

.signup.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.signup.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 21px;
    line-height: 21px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
}

.signup.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/signup.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.signup.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def,
.signup.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.signup.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def .sc-button-label,
.signup.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def.active,
.signup.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.signup.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.signup.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.signup.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}
