.signup_button.sc-button-view.sc-regular-size.square:hover {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/signup_button_norm.png');
    border-radius: 0px;
    cursor: pointer;
}

.signup_button.sc-button-view {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px #555 none;
    background: none;
}

.signup_button.sc-button-view.sc-regular-size.square {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: no-repeat sc_static('/images/signup_button_norm.png');
    border-radius: 0px;
    cursor: pointer;
}

.signup_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.signup_button.sc-button-view.sc-regular-size.square .sc-button-label {
    height: 30px;
    line-height: 42px;
    margin-left: 11px;
    margin-right: 11px;
    background: none;
    cursor: pointer;
    vertical-align: center;
    color: #636161;
    font-weight: normal;
    font-size: 14px;
    font-family: "Helvetica Neue";
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.signup_button.sc-button-view.sc-regular-size.square.active {
    background: no-repeat sc_static('/images/signup_button_norm.png');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.signup_button.sc-button-view.sc-regular-size.square.active .sc-button-inner {
    background: none;
}

.signup_button.sc-button-view.sc-regular-size.square.active .sc-button-label {
    background: none;
}

.signup_button.sc-button-view.sc-regular-size.square.def,
.signup_button.sc-button-view.sc-regular-size.square.sel {
    background: none;
}

.signup_button.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.signup_button.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
    background: none;
}

.signup_button.sc-button-view.sc-regular-size.square.def .sc-button-label,
.signup_button.sc-button-view.sc-regular-size.square.sel .sc-button-label {
    background: none;
}

.signup_button.sc-button-view.sc-regular-size.square.def.active,
.signup_button.sc-button-view.sc-regular-size.square.sel.active {
    background: none;
}

.signup_button.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.signup_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
    background: none;
}

.signup_button.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.signup_button.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
    background: none;
}
